<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>main</title>
    <script>
        function redirectToPost(event) {
            const uuid = event.currentTarget.getAttribute('data-uuid');
            console.log(uuid)
            window.location.href = '/post/' + uuid;
        }
    </script>
</head>
<body>
<div>
    <h2>main</h2>
    <table>
        <thead>
        <tr>
            <th>글쓴이</th>
            <th>제목</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="post : ${posts}" th:data-uuid="${post.uuid}" onclick="redirectToPost(event)">
            <td th:text="${post.writer}"></td>
            <td th:text="${post.title}"></td>
        </tr>
        </tbody>
    </table>
</div>
<a href="/post">글 쓰기</a>
</body>
</html>
