<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Example</title>
  <script src="https://cdn.tiny.cloud/1/j86byx7kfcf74t341nj1gbyvl0ebdu261tck1fwxtxn3h0c8/tinymce/7/tinymce.min.js" referrerpolicy="origin"></script>

  <script>
    tinymce.init({
      selector: 'textarea',
      plugins: 'image code',
      toolbar: 'undo redo | link image | code',
      images_upload_url: '/image',
      automatic_uploads: true,
      file_picker_types: 'image',
      convert_urls: false,
      file_picker_callback: function (cb, value, meta) {
        var input = document.createElement('input');
        input.setAttribute('type', 'file');
        input.setAttribute('accept', 'image/*');
        input.onchange = function () {
          var file = this.files[0];
          var reader = new FileReader();
          reader.onload = function () {
            var id = 'blobid' + (new Date()).getTime();
            var blobCache = tinymce.activeEditor.editorUpload.blobCache;
            var base64 = reader.result.split(',')[1];
            var blobInfo = blobCache.create(id, file, base64);
            blobCache.add(blobInfo);
            cb(blobInfo.blobUri(), { title: file.name });
          };
          reader.readAsDataURL(file);
        };
        input.click();
      }
    });
  </script>
</head>
<body>
<form method="post" th:action="@{/post}" enctype="multipart/form-data">
  <input placeholder="제목을 입력하시오" name="title" type="text"></input>
  <textarea name="content"></textarea>
  <button type="submit">Submit</button>
</form>
</body>
</html>
